@model UserViewModel

<div class="row">
    @await Html.PartialAsync("AdministratorPanel")
    <div class="col-6">
        <div>
            <p>Имя пользоваетля: @Model.UserName</p>
        </div>
        <div>
            <p>Телефон: @Model.PhoneNumber</p>
        </div>
        <button 
            class="btn btn-dark dropdown-toggle" 
            type="button"
            id="dropdownMenuButton" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="ChangePassword" asp-route-login="@Model.UserName">
                Смена пароля
            </a>
            <a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="EditData" asp-route-login="@Model.UserName">
                Редактирование данных
            </a>
            <a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="ChangeRole" asp-route-login="@Model.UserName">
                Смена роли
            </a>
            <a class="dropdown-item" asp-area="Administrator" asp-controller="User" asp-action="Delete" asp-route-login="@Model.UserName">
                Удалить
            </a>
        </div>
    </div>
</div>