@model ProductViewModel

<div class="row">
    <div class="col-6">
        <img class="" src="@Model.ImageLink" style="width: 600px; height: 400px;" />
    </div>
    <div class="col-6">
        <div>Id: @Model.Id</div>
        <div>Name: @Model.Name</div>
        <div>Cost: @Model.Cost</div>
    </div>
    <div style="margin:10px">Description: @Model.Description</div>
</div>
<a class="btn btn-light" style="margin:10px" href="/home/index" role="button">Продолжить покупки</a>
<a class="btn btn-light" style="margin:10px" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
@if (!Model.IsInFavourites)
{
    <a class="btn btn-light" 
        asp-action="Add" 
        asp-controller="Favourites" 
        asp-route-productId="@Model.Id" 
        asp-route-controllerName="Product" 
        role="button">
        Добавить в избранное
    </a>
}
else
{
    <a class="btn btn-light" 
        asp-action="Remove" 
        asp-controller="Favourites" 
        asp-route-productId="@Model.Id" 
        asp-route-controllerName="Product" 
        role="button">
        Удалить из избранного
    </a>
}
@if (!Model.IsInComparison)
{
    <a 
        class="btn btn-light" 
        asp-controller="Comparison"
        asp-action="Add" 
        asp-route-productId="@Model.Id" 
        asp-route-pageNumber="@ViewBag.pageNumber" 
        asp-route-controllerName="Product" 
        role="button">
        Сравнить
    </a>
}
else
{
    <a 
        class="btn btn-light" 
        asp-controller="Comparison"
        asp-action="Remove" 
        asp-route-productId="@Model.Id" 
        asp-route-pageNumber="@ViewBag.pageNumber" 
        asp-route-controllerName="Product" 
        role="button">
        Убрать из сравнения
    </a>
}