@model Product

<div class="row">
    <div class="col-6">
        <img class="" src="@Model.ImageLink" style="width: 600px; height: 400px;" />
    </div>
    <div class="col-6">
        <div>Id: @Model.Id</div>
        <div>Name: @Model.Name</div>
        <div>Cost: @Model.Cost</div>
    </div>
    <div style="margin:10px">Description: @Model.Description</div>
</div>
<a class="btn btn-light" style="margin:10px" href="/home/index" role="button">Продолжить покупки</a>
<a class="btn btn-light" style="margin:10px" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
@if (!ViewBag.isInFavourities)
{
    <a class="btn btn-light" asp-action="Add" asp-controller="Favourities" asp-route-productId="@Model.Id" asp-route-controllerName="Product" role="button">
        Добавить в избранное
    </a>
}
else
{
    <a class="btn btn-light" asp-action="Remove" asp-controller="Favourities" asp-route-productId="@Model.Id" asp-route-controllerName="Product" role="button">
        Удалить из избранного
    </a>
}
<a class="btn btn-light" style="margin:10px" href="/comparison/add?productId=@Model.Id" role="button">Добавить в сравнение</a>