@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="Index" asp-controller="Home">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@ViewData["CurrentFilter"]">
            <button class="btn btn-dark" type="submit">Search by name</button>
        </form>
    </div>
    <div class="col-md-6">
        <a href="/home/index?searchString=emptySearchString" class="text-dark">Back to Full List</a>
    </div>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top" src="@product.ImageLink" />
            <div class="card-body">
                <a style="color: black" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <h5>@product.Cost</h5>
                <a class="btn btn-light" href="/comparison/add?productId=@product.Id" role="button">Сравнить</a>
                @if (!product.IsInFavourities)
                {
                    <a class="btn btn-light" asp-controller="Favourities" asp-action="Add" asp-route-productId="@product.Id" asp-route-pageNumber="@ViewBag.pageNumber" role="button">
                        Добавить в избранное
                    </a>
                }
                else
                {
                    <a class="btn btn-light" href="/favourities/remove?productId=@product.Id" role="button">Удалить из избранного</a>
                }
                <a class="btn btn-light" href="/cart/add?productId=@product.Id" role="button">Добавить в корзину</a>
            </div>
        </div>
    }
</div>

<partial name="_Pager" model="ViewBag.Pager"/>