@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-area="" asp-action="Index" asp-controller="Home" method="get">
            <input name="searchString"
                   class="form-control me-1"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   value="@ViewData["searchString"]">
            <button class="btn btn-dark" type="submit">Search by name</button>
        </form>
    </div>
    <div class="col-md-6">
        <a class="text-dark"
           asp-area=""
           asp-controller="Home"
           asp-action="Index"
           asp-route-searchString="">
            Back to Full List
        </a>
    </div>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top"
                 src="@product.ImagePath"
                 style="width:200px;height:200px" />
            <div class="card-body">
                <a style="color: black" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <h5>@product.Cost</h5>
                @if (!product.IsInComparison)
                {
                    <a class="btn btn-dark myCardButton"
                       asp-controller="Comparison"
                       asp-action="Add"
                       asp-route-productId="@product.Id"
                       asp-route-pageNumber="@ViewBag.pageNumber"
                       role="button">
                        Сравнить
                    </a>
                }
                else
                {
                    <a class="btn btn-danger myCardButton"
                       asp-controller="Comparison"
                       asp-action="Remove"
                       asp-route-productId="@product.Id"
                       asp-route-pageNumber="@ViewBag.pageNumber"
                       role="button">
                        Убрать из сравнения
                    </a>
                }
                @if (!product.IsInFavourites)
                {
                    <a class="btn btn-dark myCardButton"
                       asp-controller="Favourites"
                       asp-action="Add"
                       asp-route-productId="@product.Id"
                       asp-route-pageNumber="@ViewBag.pageNumber"
                       role="button">
                        Добавить в избранное
                    </a>
                }
                else
                {
                    <a class="btn btn-danger myCardButton"
                       asp-controller="Favourites"
                       asp-action="Remove"
                       asp-route-productId="@product.Id"
                       asp-route-pageNumber="@ViewBag.pageNumber"
                       role="button">
                        Удалить из избранного
                    </a>
                }
                <a class="btn btn-dark myCardButton"
                   asp-controller="Cart"
                   asp-action="Add"
                   asp-route-productId="@product.Id"
                   role="button">
                    Добавить в корзину
                </a>
            </div>
        </div>
    }
</div>

<partial name="_Pager" model="ViewBag.Pager" />