@model UserViewModel

@if (Model is null)
{
    <p>Вы не авторизованы</p>
    <a class="btn btn-light"
       asp-area=""
       asp-controller="Account"
       asp-action="Login"
       role="button">
        Авторизоваться
    </a>
    return;
}
<div class="row">
    <div class="col-6">
        <img class="" src="@Model.ImagePath" style="width: 300px; height: 300px;" />
        @if (Model.HasProfileImage)
        {
            <div>
                <a class="btn btn-danger btn-group"
                   asp-area=""
                   asp-controller="User"
                   asp-action="DeleteProfileImage">
                    Удалить
                </a>
            </div>
        }
    </div>
    <div class="col-6">
        <div>
            <p>Имя пользователя: @Model.UserName</p>
        </div>
        <div>
            <p>Телефон: @Model.PhoneNumber</p>
        </div>
        <button class="btn btn-dark dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"
               asp-area=""
               asp-controller="User"
               asp-action="ChangePassword">
                Смена пароля
            </a>
            <a class="dropdown-item"
               asp-area=""
               asp-controller="User"
               asp-action="EditData">
                Редактирование данных
            </a>
            <a class="dropdown-item"
               asp-area=""
               asp-controller="User"
               asp-action="Delete">
                Удалить
            </a>
        </div>
        <button class="btn btn-dark dropdown-toggle"
                type="button"
                id="dropdownMenuButton2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Информация о предыдущих заказах
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            @if (Model.DeliveryDatas.Count == 0)
            {
                <a class="dropdown-item">
                    Заказов дæм нæй
                </a>
            }
            else
            {
                @foreach (var deliveryData in Model.DeliveryDatas)
                {
                    <a class="dropdown-item">
                        @deliveryData.Name;
                        @deliveryData.Surname;
                        @deliveryData.Address;
                        @deliveryData.PhoneNumber
                    </a>
                }
            }
        </div>
    </div>
</div>