@model ComparisonViewModel

@if (Model is null || Model.Items.Count() == 0)
{
    <p>Вы не выбрали товары для сравнения!</p>
}
else
{
    <h2>Анализ характеристик</h2>
    <table class="table">
        <thead>
            <tr>
                @foreach (var comparisonItem in Model.Items)
                {
                    <th>@comparisonItem.Product.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var comparisonItem in Model.Items)
                {
                    <td>Name: @comparisonItem.Product.Name
                        <br/>Cost: @comparisonItem.Product.Cost
                        <br/>
                        <a 
                            class="btn btn-dark" 
                            asp-controller="Comparison"
                            asp-action="Remove" 
                            asp-route-productId="@comparisonItem.Product.Id" 
                            asp-route-pageNumber="@ViewBag.pageNumber" 
                            asp-route-controllerName="Comparison" 
                            role="button">
                            Убрать из сравнения
                        </a>
                    </td>
                    
                }
            </tr>
        </tbody>
    </table>
}
<a class="btn btn-light" 
    style="margin:10px" 
    asp-controller="Home"
    asp-action="Index"
    role="button">
    Перейти к списку товаров
</a>