@model ComparisonViewModel

@if (Model is null)
{
    <p>Вы не авторизованы</p>
    <a class="btn btn-light"
       asp-area=""
       asp-controller="Account"
       asp-action="Login"
       role="button">
        Авторизоваться
    </a>
    return;
}
@if (Model.Items.Count() == 0)
{
    <p>Вы не выбрали товары для сравнения!</p>
}
else
{
    <h2>Анализ характеристик</h2>
    <table class="table">
        <thead>
            <tr>
                @foreach (var product in Model.Items)
                {
                    <th>@product.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var product in Model.Items)
                {
                    <td>
                        Name: @product.Name
                        <br />Cost: @product.Cost
                        <br/>
                        <a 
                            class="btn btn-dark" 
                            asp-controller="Comparison"
                            asp-action="Remove"
                            asp-route-productId="@product.Id"
                            asp-route-pageNumber="@ViewBag.pageNumber" 
                            asp-route-controllerName="Comparison" 
                            role="button">
                            Убрать из сравнения
                        </a>
                    </td>
                }
            </tr>
        </tbody>
    </table>
}
<a class="btn btn-light" 
    style="margin:10px" 
    asp-controller="Home"
    asp-action="Index"
    role="button">
    Перейти к списку товаров
</a>