@model OrderViewModel

<form method="post" target="_self">
    <div class="row">
        @await Html.PartialAsync("AdministratorPanel")
        <div class="col-6">
            <div>
                <p>Дата и время оформления: @Model.CreationTime.ToString()</p>
            </div>
            <div>
                <p>Адрес доставки: @Model.PersonalData.Address</p>
            </div>
            <div>
                <p>Получатель: @Model.PersonalData.ToString()</p>
            </div>
            <div>
                <p>Телефон: @Model.PersonalData.PhoneNumber</p>
            </div>
            <div>
                <p>Email: @Model.PersonalData.EMail</p>
            </div>
            <div>
                <p>Сумма заказа: @Model.TotalCost</p>
            </div>
            <div>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<OrderStatus>()" class="form-control"></select>
            </div>
            <div>
                <button type="submit"
                        style="margin-top:10px"
                        asp-area="Administrator" 
                        asp-action="UpdateStatus" 
                        asp-controller="Order" 
                        asp-route-orderId="@Model.Id">
                    Внести изменения
                </button>
            </div>
        </div>
    </div>
</form>
