@model IEnumerable<OrderViewModel>
@{
    var orderNumber = 0;
}
<div class="row">
    @await Html.PartialAsync("AdministratorPanel")
    <div class="col-9">
        <h2>Список заказов</h2>
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Сумма</th>
                        <th>Статус</th>
                        <th>Получатель</th>
                        <th>Дата</th>
                        <th>Время</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@(++orderNumber)</td>
                        <td>@order.TotalCost</td>
                            <td>@EnumHelper.GetDisplayName(order.Status)</td>
                        <td>@order.PersonalData.ToString()</td>
                        <td>@order.CreationTime.Date.ToString().Split(' ')[0]</td>
                        <td>@($"{order.CreationTime.Hour}:{order.CreationTime.Minute}")</td>
                        <td>
                            <a asp-area="Administrator" asp-action="Edit" asp-controller="Order" asp-route-orderId="@order.Id">Подробнее</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>