@model CartViewModel

@if (Model is null || Model.Count() == 0)
{
    <div>Корзина пуста!</div>
    return;
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Amount</th>
            <th>Total Cost</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Product.Cost</td>
                <td>@cartItem.Amount</td>
                <td>@cartItem.TotalCost</td>
                <td>
                    <a href="/cart/add?productId=@cartItem.Product.Id">+</a>
                </td>
                <td>
                    <a href="/cart/decreaseAmount?productId=@cartItem.Product.Id">-</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="">Итого: @Model.TotalCost</div>
<a class="btn btn-light" style="margin:10px" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
<a class="btn btn-light" style="margin:10px" asp-controller="Order" asp-action="Index" role="button">Оформить заказ</a>