@model Cart

@if (Model is null || Model.Count() == 0)
{
    <div>Корзина пуста!</div>
    return;
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Amount</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Product.Cost</td>
                <td>@cartItem.Amount</td>
                <td>@cartItem.TotalCost</td>
            </tr>
        }
    </tbody>
</table>
<div class="">Итого: @Model.TotalCost</div>
<a class="btn btn-light" style="margin:10px" href="#" role="button">Оформить заказ</a>